<h1>Editing Programacion Realizada</h1>

<%= render 'form', programacion_realizada: @programacion_realizada %>

<%= link_to 'Show', @programacion_realizada %> |
<%= link_to 'Back', programaciones_realizada_path %>
